<!-- hero section -->
<section class="hero-section">

    <div class="numbers" style="max-width:calc(100vw + 16px)">
        <div draggable="true">o<!-- -->000</div>
        <div draggable="true">c<!-- -->000</div>
        <div draggable="true">a<!-- -->000</div>
    </div>

    <div class="hero-container">
        <div class="hero-img-1">
            <img
            src="https://www.a-cold-wall.com/cdn/shop/files/ACW_banner_7.jpg?format=webp&v=1745875291&width=2000"
            alt="A-COLD-WALL SS25 Maiocchi Image"
            width="500"
            loading="lazy"
          />
        </div>   
    </div>

    <div class="hero-heading">
        <h1>Spring/Summer 2025 First Arrivals Now Online</h1>
    </div>

    <div class="shopbutton">
        <button type="button">Shop Now</button>
    </div>

    <div style="height: 2px; width: 100%; background-color:#777677 ; margin-top: 15px;" class="coloredline"></div>

    <div class="numbers" style="max-width:calc(100vw + 16px)">
        <div draggable="true">o<!-- -->000</div>
        <div draggable="true">c<!-- -->000</div>
        <div draggable="true">a<!-- -->000</div>
    </div>

    <div class="scrollarrows">
        <i class="fa-solid fa-arrow-left"></i>
        <i class="fa-solid fa-arrow-right"></i>
    </div>

    <div class="landingpage-images">
        <div class="image-item">
            <a href="#"><img src="/assets/cloth1.jpg" alt="Cloth 1"></a>
            <div class="description">FORM GILET BLACK ONYX</div>
            <div class="price">£425</div>
        </div>
        <div class="image-item">
            <a href="#"><img src="/assets/cloth2.jpg" alt="Cloth 2"></a>
            <div class="description">DECIBEL T-SHIRT GREY SLATE</div>
            <div class="price">£150</div>
        </div>
        <div class="image-item">
            <a href="#"><img src="/assets/cloth3.jpg" alt="Cloth 3"></a>
            <div class="description">MILLBANK HOODIE BLACK ONYX</div>
            <div class="price">£200</div>
        </div>
          <div class="image-item">
            <a href="#"><img src="/assets/cloth4.jpg" alt="Cloth 3"></a>
            <div class="description">MILLBANK HOODIE BLACK ONYX</div>
            <div class="price">£200</div>
        </div>
        <div class="image-item">
            <a href="#"><img src="/assets/cloth5.jpg" alt="Cloth 3"></a>
            <div class="description">MILLBANK HOODIE BLACK ONYX</div>
            <div class="price">£200</div>
    </div>
        <div class="image-item">
            <a href="#"><img src="/assets/cloth6.jpg" alt="Cloth 3"></a>
            <div class="description">MILLBANK HOODIE BLACK ONYX</div>
            <div class="price">£200</div>
        </div>
        <div class="image-item">
            <a href="#"><img src="/assets/cloth7.jpg" alt="Cloth 3"></a>
            <div class="description">MILLBANK HOODIE BLACK ONYX</div>
            <div class="price">£200</div>
        </div>
        <div class="image-item">
            <a href="#"><img src="/assets/cloth8.jpg" alt="Cloth 3"></a>
            <div class="description">MILLBANK HOODIE BLACK ONYX</div>
            <div class="price">£200</div>
        </div>
        <div class="image-item">
            <a href="#"><img src="/assets/cloth9.jpg" alt="Cloth 3"></a>
            <div class="description">MILLBANK HOODIE BLACK ONYX</div>
            <div class="price">£200</div>
        </div>
        <div class="image-item">
            <a href="#"><img src="/assets/cloth10.jpg" alt="Cloth 3"></a>
            <div class="description">MILLBANK HOODIE BLACK ONYX</div>
            <div class="price">£200</div>
        </div>
        <div class="image-item">
            <a href="#"><img src="/assets/cloth11.jpg" alt="Cloth 3"></a>
            <div class="description">MILLBANK HOODIE BLACK ONYX</div>
            <div class="price">£200</div>
        </div>
</section>
