 <!-- Header Start -->
    <header>
        <!-- navbar section -->
        <section class="navs">
            <div class="nav-first">
                <a href="">
                    <p>FIRST ARRIVALS NOW ONLINE</p>
                </a>
                <a href="">
                    <p>CLOSE</p>
                </a>
            </div>

            <div class="nav-second">
                <div class="grid">
                    <a href="#">A-COLD-WALL*</a>
                </div>

                <div class="grid">
                    <a href="#">CATEGORIES</a>
<a href="/shop">SHOP ALL</a>
                </div>

                <div class="grid">
                    <a href="#">OUTERWEAR</a>
                    <a href="#">KNITWEAR</a>
                    <a href="#">JERSEY</a>
                    <a href="#">SHIRTS</a>
                    <a href="#">LEATHER</a>
                    <a href="#">BAGS & ACCESSORIES</a>
                </div>

                <div class="grid">
                    <a href="#">BRAND</a>
                    <a href="#">STORES</a>
                </div>

                <div class="grid">
                    <a href="#">SEARCH</a>
                </div>
           

                <div class="grid">
                    <a href="#">GBP £</a>
                    <a style="color: blue;" href="#">CART (0)</a>
                </div>
            </div>
        </section>
    </header>
    <!-- Header End -->