 <!-- Header Start -->
    <header>
        <!-- navbar section -->
        <section class="navs">
            <div class="nav-first">
                <a href="">
                    <p>FIRST ARRIVALS NOW ONLINE</p>
                </a>
                <a href="">
                    <p>CLOSE</p>
                </a>
            </div>

            <div class="nav-second">
                <div class="grid">
                    <a href="#">A-COLD-WALL*</a>
                </div>

                <div class="grid">
                    <a href="#">CATEGORIES</a>
                    <a href="formValidation.html">SHOP ALL</a>
                </div>

                <div class="grid">
                    <a href="#">OUTERWEAR</a>
                    <a href="#">KNITWEAR</a>
                    <a href="#">JERSEY</a>
                    <a href="#">SHIRTS</a>
                    <a href="#">LEATHER</a>
                    <a href="#">BAGS & ACCESSORIES</a>
                </div>

                <div class="grid">
                    <a href="#">BRAND</a>
                    <a href="#">STORES</a>
                </div>

                <div class="grid">
                    <a href="#">SEARCH</a>
                </div>

                <div class="imgs">
                    <a href="#" target="_blank">
                        <img src="https://a-cold-wall.com/_next/image?url=https%3A%2F%2Fcms.a-cold-wall.com%2Fassets%2Fa/assets/cloth3.jpg&w=96&q=75" alt="A-COLD-WALL SS25 Maiocchi Image" width="50" loading="lazy">
                    </a>
                </div>

                <div class="imgs">
                    <a href="#" target="_blank">
                        <img src="https://a-cold-wall.com/_next/image?url=https%3A%2F%2Fcms.a-cold-wall.com%2Fasse/assets/cloth3.jpg&w=96&q=75" alt="A-COLD-WALL SS25 Runway Image" width="50" loading="lazy">
                    </a>
                </div>

                <div class="imgs">
                    <a href="#" target="_blank">
                        <img src="https://a-cold-wall.com/_next/image?url=https%3A%2F%2Fcms.a-cold-wall.com%2Fassets%2Facw-ss25/assets/cloth3.jpg&w=96&q=75" alt="A-COLD-WALL SS25 Overstitch Lookbook Image" width="50" loading="lazy">
                    </a>
                </div>

                <div class="grid">
                    <a href="#">GBP £</a>
                    <a style="color: blue;" href="#">CART (0)</a>
                </div>
            </div>
        </section>
    </header>
    <!-- Header End -->